<h1>Howdy from new form</h1>

<div>
    <form method="POST" action="/users">
        <label id="new_user">Create a new user!</label>
        <input id="email_input" type="text" name="email" placeholder="email address here" />
        <input id="password_input" type="password" name="password" />
        <input type="submit" />
    </form>
</div>